.inputElement  {
  color: white;
}
.label {
  color: #5b5b5f;
}

.counter {
  color: white;
}

.hint {
  color: white;
}

.check {
  background-color:  white;

}

.field {
  border-color: white;
}

.text {
  color: white !important;
}
